.task{
    color: white;
    background-color: #22272eaf;
    padding: 30px;
    border-radius: 15px;
    margin: 30px 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.task form{
    display: flex;
    flex-direction: column;
    height: auto;
}
.task span{
    font-size: 18px;
    margin-bottom: 10px;
}
.navbar_wrapper{
    position: fixed;
    display: flex;
    z-index: 70;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
}
.headTask{
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}
.textTask{
    font-size: 20px;
    margin-bottom: 50px;
    word-break: break-all;
    line-height: 30px;
}
/* rgb(93, 43, 231) */
.input{
    border: 1px solid #1a83ff;
    background: #22272e1f;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 18px;
    resize: none;
}
.input:focus{
    border: 2px solid #1a83ff;
}
.input:disabled{
    border: 2px solid rgb(86, 88, 86);
}
.button{
    background: #1a83ff;
    color: white;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
}
.button:hover{
    cursor: pointer;
}
.button:disabled{
    background: rgb(86, 88, 86);
}
.pod{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.error{
    width: 50%;
}
.answer{
    display: flex;
}
.resh{
    background-color: green;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}
.neresh{
    background-color: rgb(228, 34, 34);
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 700;
}
@media (max-width: 425px){
    .task{
        margin: 30px 0 0 0;
        border-radius: 0;
        padding: 20px 10px 20px 10px;
    }
}
