.preview{
    font-size: 46px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(86, 77, 211, 0.87);
    height: 600px;
}
.greeting{
    font-size: 20px;
    width: 50%;
    order: 1;
}
.graphics{
    width: 50%;
    order: 2;
}

@media (max-width: 767px){
    .preview{
        flex-direction: column;
    }
    .greeting{
        width: 100%;
        order: 2;
    }
    .graphics{
        width: 100%;
        height: 100%;
        order: 1;
    }
}