.preview{
    font-size: 46px;
    display: flex;
    justify-content: space-between;
    background: -webkit-linear-gradient(left,#6a11cb,#2575fc);
    min-height: 100vh;
    align-items: center;
}
.link_container{
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 24px;
}
.greeting{
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 80px;
    font-weight: 800;
    color: whitesmoke; 
    width: 30%;
    order: 1;
    margin-left: 40px;
}
.graphics{
    width: 60%;
    order: 2;
    height: 800px;
}
.form_links{
    margin: 30px 30px 0 30px;
    padding: 20px;
    border-radius: 15px;
    background-color: #2575fc;
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.link_f{
    color: white;
    font-weight: 800;
    font-size: 24px;
}
@media (max-width: 1024px){
    .graphics{
        height: 700px;
    }
    .greeting{
        font-size: 70px;
    }
    .link_container{
        width: 70%;
    }
}
@media (max-width: 974px){
    .greeting{
        font-size: 60px;
    }
}
@media (max-width: 768px){
    .preview{
        flex-direction: column;
        padding: 0;
        height: auto;
    }
    .greeting{
        width: auto;
        order: 2;
        font-size: 50px;
        padding: 0px 20px 20px 20px;
    }
    .graphics{
        width: 100%;
        height: 500px;
        order: 1;
    }
    .link_container{
        margin: 50px 10px 0 10px;
        position: relative;
        width: auto;
        font-size: 20px;
    }
    .form_links{
        width: auto;
        margin: 30px 10px 0 10px;
    }
}
@media (max-width: 375px){
    .graphics{
        height: 400px;
    }
    .greeting{
        font-size: 40px;
    }
}